body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 140%;
}

h1, h2, .modal-title{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
}

.title{
    margin: 40px 0px 20px -15px;
    padding: 5px 25px 7px 15px;
    background-color: rgba(236, 228, 223, 1);
    color: rgba(99, 101, 113, 1);
    border-radius: 0px 10px 10px 0px;
 }
.text_center{
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-family: 'Raleway Semibold', sans-serif;
}

.btn{
    background-color: rgba(181, 214, 207, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    font-family: 'Raleway Semibold', sans-serif;
    font-size: 1,5em;
    line-height: 120%;
}

.btn:hover, .btn:active{
    background-color: rgba(99, 101, 113, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

/* formulieren */
.form-control{
    border: solid 2px rgba(177, 197, 204, 1);
    border-radius: 10px;
    font-family: 'Raleway Semibold', sans-serif;
}

.form-control:hover, .form-control:active{
    border: solid 2px rgba(177, 197, 204, 1);
    
}

.form-group img{
    width:10px;
    margin-bottom: 10px;
}

/*EIGEN CHECKBOX*/
.check_paw .form-check-input{
    display: none;
}

.check_paw .form-check-label:last-of-type{
    padding-left: 0px;
}

label.checkbox_round{
    border: solid 2px rgba(236, 228, 223, 1);
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#conditions:checked + label.checkbox_round, #conditions_qr1:checked + label.checkbox_round, #conditions_qr2:checked + label.checkbox_round{
    background: url(../../images/lijstje.png);
    background-size: 22px;
}

.payment_methods .col-10{
    padding: 0px 10px 0px 25px;
}

.payment_methods .col-2{
    padding-left: 35px;
    padding-right: 0px;
}

.payment_methods{
    border: solid 2px rgba(177, 197, 204, 1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 20%;
}

.payment_methods .card{
    border: none; 
}

.payment_methods .card-header{
    padding-bottom: 0px;
    border: none; 
    background-color: rgba(255, 255, 255, 1);
}

.payment_methods .form-check{
    margin: 20px 0px 20px 0px;
}

.payment_methods .form-check-input{
    margin-top: 20px;
}

p>img{
    width: 12px;
    margin: 0px 0px 5px 0px;
}

.form-check label{
    border-radius: 50%;
}

.form-check img{
    width: 100px;
}

/*intro*/
.intro{
    margin-bottom: 20px;
    padding: 20px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 0px 10px;
    font-family: 'Raleway Semibold', sans-serif;
}

.intro p{
    color: rgba(99, 101, 113, 1);
    font-size: 2em;
    line-height: 120%;
}

/*gekleurde achergrond*/
.blue_bg{
    background-color: rgba(212, 229, 232, 1);
}

/* tekening teddy */
.teddy_2{
    padding-right: 0px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 100%;
    margin-top: 60px;
}
.sticky:hover, .sticky:active{
    transform: scale(1.2);
    transition: 0.5s;
}

/*speciale tekst*/

.neg_blue{
    padding-right:0px
}

.neg_blue p{
    margin: 15px 0px 15px 0px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(177, 197, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px 0px 0px 10px;
    font-family: 'Raleway Semibold', sans-serif;
}
.neg_blue p:first-of-type{
    margin-top: 60px;
}

.note{
    font-size:12px;
}

.note>a,{
    color: rgba(99, 101, 113, 1);
    text-decoration: underline;
}

.note_hover{
    text-decoration: underline;
}

.note>a:hover, .note>a:active, .note_hover:hover, .note_hover:active{
    color: rgba(177, 197, 204, 1);
    transition: 0.5s;
}

.thankyou{
    font-size: 22px;
    color: rgba(181, 214, 207, 1);
    font-family: 'Raleway Semibold', sans-serif;
    text-align: center;
}

.accent_bold{
    font-weight: bold;
}

/* pijltjes */
.row_center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pijltje{
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.pijltje:hover, .pijltje:active{
    transform: scale(1.2);
    transition: 0.5s;
}

/*lijstjes*/

.lijst{
    font-size:11px;
}
ul{
    margin-left: 0px;
}
li {
    list-style-type: none;
}

li>img{
    width: 15px;
    margin-right: 8px;
}

/*
--> werkte niet
ul {
    list-style-image: url(../../images/lijstje.png);
    width: 10px;
}
*/

/* Carousel */
.slide{
    margin: 10px 0px 20px 0px;
}

.carousel-inner{
    width: 90%;
    margin: auto;
}

.carousel-control-prev, .carousel-control-next{
    width: 50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    margin-top: 50%;
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover, .carousel-control-prev-icon:active, .carousel-control-next-icon:active{
    transform: scale(1.2);
    transition: 0.5s;
}

.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.teddy_3{
    border-radius: 10px;
}

/*COLLAPSE*/
.card_thankyou{
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px rgba(181, 214, 207, 1);
}

.card_thankyou img{
    width: 80px;
    margin-left: 75px;
}

#collapse_thankyou .card-body{
    padding: 20px;
}

.card-body{
    padding: 0px 10px;
}

/* BREADCRUMBS */

.breadcrumb{
    text-align: center;
    background-color: rgba(177, 197, 204, 1);
    border-radius:10px;
}

.breadcrumb-item{
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumb .active{
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway Semibold', sans-serif;
    font-weight: bold;
} 

.breadcrumb .breadcrumb-item:nth-child(2)::before, .breadcrumb .breadcrumb-item:nth-child(3)::before, .breadcrumb .breadcrumb-item:nth-child(4)::before, .breadcrumb .breadcrumb-item:nth-child(5)::before{
    content: "";
    padding: 0px;
}

/* TABEL */
.table{
    color: rgba(99, 101, 113, 1);
}

tbody>tr:first-of-type{
    border-bottom: dashed 2px rgba(177, 197, 204, 1);
    border-top: solid 2px rgba(255, 255, 255, 1);
}

tbody>tr:last-of-type{
    border-top: solid 2px rgba(177, 197, 204, 1);
    font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

@media (min-width: 768px) {

    body{
        font-size: 14px;
    }

    h1{
        font-size: 35px;
    }
    
    .btn{
        border-radius: 8px;
        font-size: 1.5em;
        line-height: 140%;
    }

    .payment_methods{
        padding: 0%  10%;
    }
    
    .intro{
        margin-bottom: 250px;
        padding: 40px 0px 40px 40px;
        border-radius: 0px 0px 0px 10px;
    }
    .intro p{
        font-size: 3em;
        line-height: 140%;
    }

    .teddy_1{
        margin-top: 20px;
    }
    
    .sticky {
        top: 20px;
        margin-top: 100px;
    }
    
    .neg_blue p{
        margin: 30px 0px 30px 0px;
        padding: 10px 10px 10px 10px;
        font-size: 16px;
    }

    .neg_blue p:first-of-type{
        margin-top: 185px;
    }

    .slide{
        margin: 0px 0px 20px 0px;
    }

    .card_thankyou img{
        width: 100px;
        margin: 20px 0px -15px 40px;
    }

    .breadcrumb{
        margin: 20px 0px 40px 0px;
    }
}

@media (min-width: 992px) {

    .slide{
        margin: 0px 0px 20px 0px;
    }

    .payment_methods .col-10{
        padding: 0px 10px 0px 0px;
    }
    
    .intro{
        margin-bottom: 360px;
        border-radius: 0px 0px 10px 10px;
    }
    
    .teddy_1{
        margin-top: 40px;
        width: 90%;
    }

    .sticky {
        top: 20px;
        width: 65%;
    }

    .neg_blue p{
        margin: 40px 0px 40px 0px;
        padding: 20px 20px 20px 20px;
        font-size: 19px;
        line-height: 140%;
    }

    .text_center{
        font-size: 19px;
        line-height: 140%;
    }
    .card_thankyou img{
        width: 200px;
        margin: 20px 0px -20px 120px;
    }
}