.navbar{
    
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1em;
}

nav.navbar{
    background-color: rgba(99, 101, 113,1)!important;
    font-size: 18px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon:hover, .navbar-toggler-icon:active{
    border: none;
    transform: scale(1.2);
    transition: 0.5s;
}

nav.navigation-item{
    border: 2px;
}
/* WERKT NIET 
nav .navbar-nav{
    margin-right: 40px;
}
nav li{
    color:rgba(255, 255, 255,1)!important;
}

nav a{
    color: rgba(255, 255, 255,1);
}

.navbar-brand{
    font-size: 25px;
    color: rgba(255, 255, 255,1);
}

.navbar-dark{
    background-color: rgba(99, 101, 113, 1);
    color: rgba(255, 255, 255,1);
}*/
